body {
  background-color: #adcbe3;
}

* {
  font: Impact;
}

/* Titles and paragraphs */
.header {
  text-align: center;
  font-size: 25px;
}

.subheader {
  font-size: 20px;
}

p {
  font-size: 16px;
  text-align: justify;
}


/* Buttons */
.confirm {
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Pictures */
.illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
  max-height: 300px;
  border-radius: 5px;
}

.packed_cards {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.drawn_card {
  border: 1px solid black;
  width: 150px;
  height: 200px;
}
